html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}

.about-page-container {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 150px 150px 20px;
    box-sizing: border-box;
    grid-template-rows: auto 1fr 1fr;
}

.about-page-header {
    display: grid;
    align-items: center;
    justify-items: center;
}

.about-page-header span {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 5px 10px;
}

.about-page-body {
    display: grid;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    grid-template-rows: auto 1fr;
    row-gap: 30px;
}

.about-page-body span {
    font-family: var(--font-secondary);
    font-weight: 700;
    border-bottom: 2px solid var(--color-accent);
    padding-bottom: 2px;
}

.about-page-body p {
    font-family: var(--font-secondary);
    font-size: var(--font-size);
    color: var(--color-primary);
    margin: 0;
}

.about-page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 16px 200px 100px;
}

.about-page-footer span {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: var(--font-size);
    color: var(--color-primary);
}

.about-page-footer p {
    font-family: var(--font-secondary);
    font-size: var(--font-size);
    color: var(--color-primary);
}

@media screen and (max-width: 935px) {
    body {
        overflow-x: hidden;
    }

    .about-page-container {
        padding: 50px 15px 15px;
        text-align: center;
        font-size: 16px;
    }

    .about-page-body {
        padding-left: 0;
        padding-right: 0;
    }

    .about-page-footer {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 1250px) {

    .about-page-container {
        text-align: center;
    }

    .about-page-body {
        padding-left: 0;
        padding-right: 0;
    }

    .about-page-footer {
        padding-left: 0;
        padding-right: 0;
    }
}
