html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}

.contact-page-container {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 150px 20px 20px;
    box-sizing: border-box;
    grid-template-rows: auto 1fr;
}

.contact-page-header {
    display: grid;
    align-items: center;
    justify-items: center;
}

.contact-page-header span {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 5px 10px;
}

.contact-page-body {
    display: grid;
    grid-gap: 50px;
    padding-top: 50px;
    padding-left: 500px;
    padding-right: 500px;
    grid-template-columns: 1fr 1fr;
}

.contact-page-left {
    display: grid;
    justify-items: center;
    max-width: 70%;
}

.contact-page-info {
    overflow-wrap: anywhere;
}

.contact-page-info a {
    margin-top: 15px;
    font-size: var(--font-size-socials);
}

.contact-page-info span {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: var(--font-size);
    color: var(--color-primary);
}

.contact-page-info p {
    font-family: var(--font-secondary);
    font-size: var(--font-size);
    margin-top: 15px;
    margin-bottom: 30px;
    color: var(--color-primary);
}

.contact-page-right {
    display: grid;
    justify-items: center;
}

.contact-page-dm form {
    display: grid;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: var(--font-size);
    color: var(--color-primary);
}

.user-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    font-family: var(--font-secondary);
    font-size: var(--font-size);
    color: var(--color-primary);
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 5px;
    resize: none;
}

.user-input:focus {
    outline: none;
}

.form-submit {
    justify-self: center;
}

.form-submit input {
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 2px;
    -webkit-appearance: none;
    color: var(--color-secondary);
    font-size: var(--font-size-button);
    font-family: var(--font-primary);
    cursor: pointer;
}

.form-submit input:enabled {
    background-color: var(--color-primary);
    box-shadow: inset 0 0 0 0 var(--color-accent);
    transition: ease-out 0.2s;
}

.form-submit input:enabled:hover {
    box-shadow: inset 200px 0 0 0 var(--color-accent);
}

.form-submit input:disabled {
    color: white;
    cursor: auto;
    background-color: gray;
}

@media screen and (max-width: 1885px) {
    .contact-page-body {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 1585px) {
    .contact-page-body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .contact-page-left {
        max-width: 80%;
    }
}

@media screen and (max-width: 935px) {
    body {
        overflow-x: hidden;
    }

    .contact-page-container {
        padding: 50px 15px 15px;
    }

    .contact-page-body {
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }

    .contact-page-left {
        max-width: 100%;
    }

    .contact-page-info {
        text-align: center;
    }

    .contact-page-dm {
        text-align: center;
    }

    .contact-page-info a {
        all: unset;
        font-size: 25px;
        color: var(--color-primary);
    }
}
