
.nav-links {
    display: flex;
    position: absolute;
    list-style-type: none;
    margin: 0 25px 0 0;
    padding: 0;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
}

.nav-links a {
    font-size: var(--font-size);
}

ul li {
    padding: 1rem;
}

a {
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-decoration: none;
    overflow: hidden;
    background: linear-gradient(to right, var(--color-accent), var(--color-accent) 50%, var(--color-primary) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.2s ease;
}

a:hover {
    background-position: 0 100%;
}

.active {
    font-family: var(--font-primary);
    color: var(--color-accent);
    font-size: var(--font-size);
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

@media screen and (max-width: 935px) {
    body {
        position: relative;
    }

    header {
        text-align: center;
        width: 100%;
        height: 40px;
    }

    nav {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
    }

    a {
        all: unset;
        font-family: var(--font-primary);
        color: var(--color-secondary);
        text-decoration: none;
        overflow: hidden;
    }

    a:hover {
        cursor: pointer;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        height: 55px;
        display: flex;
        align-items: center;
        width: 100%;
        background: white;
        padding-left: calc(50% - 1em);
        box-sizing: border-box;
    }

    .nav-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-primary);
        opacity: 0;
        pointer-events: none;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: var(--color-primary);
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: "";
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    .nav-links {
        all: unset;
    }

    nav a,
    .active {
        display: none;
        opacity: 0;
    }

    .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked ~ nav a {
        display: block;
        opacity: 1;
    }

    .nav-toggle:checked ~ nav span {
        display: block;
        opacity: 1;
    }

    .nav-toggle:checked ~ div {
        opacity: 1;
    }

    nav {
        pointer-events: none;
    }

    .nav-toggle:checked ~ nav {
        pointer-events: all;
    }
}
