html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.portfolio-page-container {
    display: grid;
    width: 100%;
    height: calc(100% - 100px);
    padding: 150px 20px 20px;
    box-sizing: border-box;
    grid-template-rows:auto auto 1fr;
    justify-items: center;
    overflow: hidden;
}

.portfolio-page-header {
    display: grid;
    align-items: center;
    justify-items: center;
}

.portfolio-page-header span {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 5px 10px;
}

.portfolio-page-nav {
    display: grid;
    grid-gap: 70px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio-page-nav .navigation-item {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    color: var(--color-primary);
    cursor: pointer;
    background: linear-gradient(to right, var(--color-accent), var(--color-accent) 50%, var(--color-primary) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.2s ease;
}

.portfolio-page-nav span:hover {
    background-position: 0 100%;
}

.selected {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    color: var(--color-accent);
    cursor: pointer;
}

.portfolio-page-body {
    display: grid;
    grid-template-columns: repeat(var(--repeat, auto-fit), minmax(250px, var(--max, 1fr)));
    justify-items: center;
    grid-gap: 40px;
}

img {
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

.portfolio-page-body {
    --repeat: auto-fit;
    --max: 1fr;
    overflow: auto;
}

.portfolio-page-modal {
    display: none;
    grid-template-columns: auto 1fr;
    justify-items: center;
    position: fixed;
    z-index: 10;
    background: var(--color-secondary);
    overflow: hidden;
    width: 70%;
    max-width: 1000px;
    height: 636px;
}

.portfolio-modal-img {
    display: grid;
}

.portfolio-modal-txt {
    display: grid;
    padding: 50px;
    align-content: center;
    justify-items: center;
    overflow: hidden;
}

.portfolio-modal-txt h1 {
    font-family: var(--font-primary);
    color: var(--color-accent);
    justify-content: center;
}

.portfolio-modal-txt p {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    text-align: center;
    white-space: pre-line;
}

.portfolio-modal-txt a {
    font-size: var(--font-size);
    border-bottom: 2px solid var(--color-accent);
    padding-bottom: 2px;
}

.close-modal {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: var(--font-primary);
    font-size: var(--font-size);
    color: var(--color-primary);
    cursor: pointer;
    background: linear-gradient(to right, var(--color-accent), var(--color-accent) 50%, var(--color-primary) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.2s ease;
}

.close-modal:hover {
    background-position: 0 100%;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.project-title {
    text-align: center;
}

.project-info {
    overflow: auto;
}

@media screen and (min-width: 935px) {
    .portfolio-page-body {
        --repeat: 3;
        --max: 300px;
        justify-content: center;
        column-gap: 120px;
    }
}

@media screen and (max-width: 935px) {
    .portfolio-page-container {
        padding: 50px 15px 15px;
    }

    .portfolio-page-nav {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .portfolio-page-modal {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }

    .portfolio-modal-txt {
        padding: 0 20px 0 20px;
    }

    .portfolio-modal-img {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .project-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 395px) {
    .portfolio-page-body {
        grid-template-columns: repeat(var(--repeat, auto-fit), minmax(150px, var(--max, 1fr)));
    }
}

