html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.home-page-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

.left-side {
    background-color: var(--color-primary);
    display: grid;
    align-items: center;
    justify-items: center;
}

.right-side {
    background-color: var(--color-secondary);
    display: grid;
    align-items: center;
    justify-items: center;
}

.welcome-text {
    display: grid;
    color: var(--color-secondary);
    font-size: var(--font-size);
}

.welcome-text span {
    font-family: var(--font-secondary);
}

.welcome-text h1 {
    font-family: var(--font-secondary);
    margin: 15px 0;
}

.welcome-text p {
    margin: 0;
    font-family: var(--font-secondary);
    position: relative;
}

.welcome-text a{
    justify-self: center;
    -webkit-text-fill-color:unset;
}

.welcome-text button {
    width: 180px;
    height: 30px;
    margin: 20px 0;
    border: none;
    border-radius: 2px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    box-shadow: inset 0 0 0 0 var(--color-accent);
    transition: ease-out 0.2s;
    font-size: var(--font-size-button);
    outline: none;
    justify-self: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease 3s forwards;
}

.welcome-text button:hover {
    box-shadow: inset 200px 0 0 0 var(--color-accent);
    color: var(--color-secondary);
    cursor: pointer;
}

.typewriter:before,
.typewriter:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.typewriter:before {
    background: var(--color-primary);
    animation: typewriter 4s steps(46) 1s forwards;
}

.typewriter:after {
    width: 2px;
    background: var(--color-secondary);
    animation: typewriter 4s steps(46) 1s forwards,
    blink 750ms steps(46) infinite;
}

.social-links {
    display: grid;
    justify-items: center;
    font-size: var(--font-size-socials);
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.social-links i {
    color: var(--color-secondary);
}

.social-links i:hover {
    color: var(--color-accent);
    transition: width 0.1s;
}

.profile-photo {
    background: var(--color-primary);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.personal-info {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    height: 50%;
    width: 80%;
}

.home-page-container-mobile {
    display: none;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 935px) {
    body {
        background: var(--color-primary);
    }

    .home-page-container {
        display: none;
    }

    .home-page-container-mobile {
        display: block;
        height: calc(100% - 100px);
        padding: 60px 10px 60px 10px;
        box-sizing: border-box;
    }

    .home-details-mobile {
        display: grid;
        grid-gap: 15px;
        justify-items: center;
        text-align: center;
        align-items: center;
        height: 100%;
        grid-template-rows: auto 1fr auto auto auto;
        color: var(--color-secondary);
        font-family: var(--font-secondary);
    }

    .introduction-mobile {
        font-family: var(--font-primary);
    }

    .description-mobile {
        font-family: var(--font-secondary);
    }

    .profile-photo {
        background: var(--color-secondary);
        border-radius: 50%;
        width: 15vmax;
        height: 15vmax;
        overflow: hidden;
    }

    .social-links {
        display: grid;
        justify-items: center;
        font-size: 25px;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }

    button {
        width: 150px;
        height: 40px;
        margin: 20px 0;
        border: none;
        border-radius: 2px;
        outline: none;
        background: var(--color-accent);
        font-family: var(--font-primary);
        color: var(--color-secondary);
    }
}
