@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --font-primary: "Montserrat";
    --font-secondary: "Roboto-Mono", monospace;
    --font-size: 18px;
    --font-size-button: 15px;
    --font-size-socials: 35px;
    --color-primary: #3c065C;
    --color-secondary: white;
    --color-accent: #F5BA4E;
}
